<!DOCTYPE html>
<html>
  <head>
    <title>manage noodle</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


    <div id="wrapper">  

    <div id="container">

      <div class="highlight">Noodle to dos:</div><br><br><br>

      <% tasks.forEach(function(t, index) { %>
        <div class="task" id=<%= t.id %>>

          <% if (t.query.type == 'mc') {
            var choices = t.query.choices;
          } else if (t.query.type == 'tf') {
            var choices = ['yes', 'no'];
          } else if (t.query.type == 'sa') {
            var choices = ['anything'];
          } %>

          When the <%= t.trigger[0] %> detects <%= t.trigger[1] %>,
          first use the <%= t.query.input[0] %> to <%= t.query.input[1] %>,
          then decide the answer to the <%= t.query.type %> question:
          <%= t.query.question %>.
          <% for(var i=0; i<t.actions.length; i++) {%>
            If the answer is <%= choices[i] %>, use the <%= t.actions[i][0] %>
            to <%= t.actions[i][1] %> <%= t.actions[i][2] %>.
          <% } %><br><br>
          <div class="meta">ID: <%= t.id %>, created: <%= t.date %><br><br></div>
          <div class='remove button'>Cancel!</div>
        </div>
        
      <% }); %>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/javascripts/underscore.min.js"></script>
    <script src="/javascripts/main.js"></script>

  </body>
</html>